<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdulaziz_zahrani</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>40</integer>
		<key>name</key>
		<string>qari_abdulaziz_zahrani_gapless</string>
		<key>path</key>
		<string>abdulaziz_zahrani</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdulaziz_bin_saleh_alzahrani/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>59</integer>
		<key>name</key>
		<string>qari_abdulbaset</string>
		<key>path</key>
		<string>0</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Abdul_Basit_Murattal_192kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdul_basit_murattal</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>qari_abdulbaset_gapless</string>
		<key>path</key>
		<string>abdulbaset_murattal</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdul_basit_murattal/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>60</integer>
		<key>name</key>
		<string>qari_abdulbaset_mujawwad</string>
		<key>path</key>
		<string>1</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Abdul_Basit_Mujawwad_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdul_basit_mujawwad</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>qari_abdulbaset_mujawwad_gapless</string>
		<key>path</key>
		<string>abdulbaset_mujawwad</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdulbaset_mujawwad/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdulhadi_kanakeri</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>94</integer>
		<key>name</key>
		<string>qari_abdulhadi_kanakeri_gapless</string>
		<key>path</key>
		<string>abdulhadi_kanakeri</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/mp3quran/abdulhadi_kanakeri/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdullah_matroud</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>56</integer>
		<key>name</key>
		<string>qari_abdullah_matroud_gapless</string>
		<key>path</key>
		<string>abdullah_matroud</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdullah_matroud/reencode/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdul_muhsin_alqasim</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>53</integer>
		<key>name</key>
		<string>qari_abdulmuhsin_qasim_gapless</string>
		<key>path</key>
		<string>abdul_muhsin_alqasim</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdul_muhsin_alqasim/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdulrahman_alshahat</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>36</integer>
		<key>name</key>
		<string>qari_abdulrahman_alshahat_gapless</string>
		<key>path</key>
		<string>abdurlrahman_alshahat</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdulrahman_al_shahat/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdurrashid_sufi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>37</integer>
		<key>name</key>
		<string>qari_abdurrashid_sufi_gapless</string>
		<key>path</key>
		<string>abdurrashid_sufi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdurrashid_sufi/128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>qari_afasy</string>
		<key>path</key>
		<string>5</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Alafasy_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mishari_alafasy_cali</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>48</integer>
		<key>name</key>
		<string>qari_afasy_cali_gapless</string>
		<key>path</key>
		<string>mishari_cali</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mishaari_california/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mishari_alafasy</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>41</integer>
		<key>name</key>
		<string>qari_afasy_gapless</string>
		<key>path</key>
		<string>mishari_alafasy</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mishaari_raashid_al_3afaasee/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ahmad_nauina</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>31</integer>
		<key>name</key>
		<string>qari_ahmad_nauina_gapless</string>
		<key>path</key>
		<string>ahmad_nauina</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/ahmad_nauina/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ahmed_nufais</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>95</integer>
		<key>name</key>
		<string>qari_ahmed_al_nufais_gapless</string>
		<key>path</key>
		<string>ahmed_nufais</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/ayahapp/ahmed_nufais/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ahmed_al3ajamy</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>49</integer>
		<key>name</key>
		<string>qari_ajamy_gapless</string>
		<key>path</key>
		<string>ahmed_alajamy</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/ahmed_ibn_3ali_al-3ajamy/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>akram_al_alaqmi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>32</integer>
		<key>name</key>
		<string>qari_akram_al_alaqmi</string>
		<key>path</key>
		<string>akram_al_alaqmi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/akram_al_alaqmi/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ali_hajjaj_alsouasi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>33</integer>
		<key>name</key>
		<string>qari_ali_hajjaj_alsouasi_gapless</string>
		<key>path</key>
		<string>ali_hajjaj_alsouasi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/ali_hajjaj_alsouasi/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ali_jaber</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>50</integer>
		<key>name</key>
		<string>qari_ali_jaber_gapless</string>
		<key>path</key>
		<string>ali_jaber</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/ali_jaber/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>alijon_qari</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>88</integer>
		<key>name</key>
		<string>qari_alijon_qari_gapless</string>
		<key>path</key>
		<string>alijon_qari</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/alijon_qari/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdulrahman_aloosi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>77</integer>
		<key>name</key>
		<string>qari_aloosi_gapless</string>
		<key>path</key>
		<string>abdulrahman_aloosi</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/mp3quran/abdulrahman_aloosi/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>alzain_mohammad_ahmad</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>76</integer>
		<key>name</key>
		<string>qari_alzain_ahmad_gapless</string>
		<key>path</key>
		<string>alzain_mohammad_ahmad</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/ourquraan/alzain_mohammad_ahmad/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ayman_suwaid</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>82</integer>
		<key>name</key>
		<string>qari_ayman_suwaid_gapless</string>
		<key>path</key>
		<string>dr_ayman_suwaid</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/tvquran/ayman_suwaid/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>58</integer>
		<key>name</key>
		<string>qari_ayman_suwaid_gapped</string>
		<key>path</key>
		<string>ayman_suwaid</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Ayman_Sowaid_64kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>qari_ayyoub</string>
		<key>path</key>
		<string>15</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Muhammad_Ayyoub_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>muhammad_ayyoub</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>43</integer>
		<key>name</key>
		<string>qari_ayyoub_gapless</string>
		<key>path</key>
		<string>muhammad_ayyoub</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/muhammad_ayyoob/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>aziz_alili</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>24</integer>
		<key>name</key>
		<string>qari_aziz_alili_gapless</string>
		<key>path</key>
		<string>aziz_alili</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/aziz_alili/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>badr_al_turki</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>89</integer>
		<key>name</key>
		<string>qari_badr_al_turki_gapless</string>
		<key>path</key>
		<string>badr_al_turki</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/badr_al_turki/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>bandar_baleela</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>34</integer>
		<key>name</key>
		<string>qari_bandar_baleela_gapless</string>
		<key>path</key>
		<string>bandar_baleela</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/bandar_baleela/complete/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>qari_basfar</string>
		<key>path</key>
		<string>2</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Abdullah_Basfar_192kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdullah_basfar</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>46</integer>
		<key>name</key>
		<string>qari_basfar_gapless</string>
		<key>path</key>
		<string>abdullah_basfar</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdullaah_basfar/archive/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>66</integer>
		<key>name</key>
		<string>qari_dussary</string>
		<key>path</key>
		<string>ydussary</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Yasser_Ad-Dussary_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>fares_abbad</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>54</integer>
		<key>name</key>
		<string>qari_fares_abbad_gapless</string>
		<key>path</key>
		<string>fares_abbad</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/fares/reencode/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>farman_shawani</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>97</integer>
		<key>name</key>
		<string>qari_farman_shawani_gapless</string>
		<key>path</key>
		<string>farman_shawani</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/farman_shawani/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>hady_toure</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>83</integer>
		<key>name</key>
		<string>qari_hady_toure_gapless</string>
		<key>path</key>
		<string>hady_toure</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/tvquran/hady_toure/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>qari_hani_rifai</string>
		<key>path</key>
		<string>6</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Hani_Rifai_192kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>hani_rifai</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>42</integer>
		<key>name</key>
		<string>qari_hani_rifai_gapless</string>
		<key>path</key>
		<string>hani_rifai</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/rifai/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>qari_hudhayfi</string>
		<key>path</key>
		<string>9</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Hudhaify_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ali_hudhayfi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>68</integer>
		<key>name</key>
		<string>qari_hudhayfi_gapless</string>
		<key>path</key>
		<string>ali_hudhayfi</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/qurancomplex/ali_hudhayfi/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>husary</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>qari_husary_gapless</string>
		<key>path</key>
		<string>husary</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mahmood_khaleel_al-husaree/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>husary_iza3a</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>39</integer>
		<key>name</key>
		<string>qari_husary_iza3a_gapless</string>
		<key>path</key>
		<string>husary_iza3a</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mahmood_khaleel_al-husaree_iza3a/128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>husary_muallim</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>71</integer>
		<key>name</key>
		<string>qari_husary_muallim_gapless</string>
		<key>path</key>
		<string>husary_muallim</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/generated/husary_muallim/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>qari_husary_mujawwad</string>
		<key>path</key>
		<string>8</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Husary_128kbps_Mujawwad/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>husary_mujawwad</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>70</integer>
		<key>name</key>
		<string>qari_husary_mujawwad_gapless</string>
		<key>path</key>
		<string>husary_mujawwad</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/generated/husary_mujawwad/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>ibrahim_alakhdar</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>72</integer>
		<key>name</key>
		<string>qari_ibrahim_alakhdar_gapless</string>
		<key>path</key>
		<string>ibrahim_alakhdar</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/qurancomplex/ibrahim_alakhdar/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>idrees_abkar</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>91</integer>
		<key>name</key>
		<string>qari_idrees_abkar_gapless</string>
		<key>path</key>
		<string>idrees_abkar</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/idrees_abkar/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>qari_jibreel</string>
		<key>path</key>
		<string>16</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Muhammad_Jibreel_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mjibreel</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>45</integer>
		<key>name</key>
		<string>qari_jibreel_gapless</string>
		<key>path</key>
		<string>mjibreel</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/muhammad_jibreel/complete/reencoded/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>abdullah_juhany</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>52</integer>
		<key>name</key>
		<string>qari_juhany_gapless</string>
		<key>path</key>
		<string>abdullah_juhany</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee/mobile/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>khaled_almuhanna</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>69</integer>
		<key>name</key>
		<string>qari_khaled_muhanna_gapless</string>
		<key>path</key>
		<string>khaled_almuhanna</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/qurancomplex/khaled_almuhanna/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>khalid_jalil</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>87</integer>
		<key>name</key>
		<string>qari_khalid_jalil_gapless</string>
		<key>path</key>
		<string>khalid_jalil</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/tvquran/khalid_jalil/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>khalid_alqahtani</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>74</integer>
		<key>name</key>
		<string>qari_khalid_qahtani_gapless</string>
		<key>path</key>
		<string>khalid_alqahtani</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/khaalid_al-qahtaanee/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>khalifa_taniji</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>55</integer>
		<key>name</key>
		<string>qari_khalifa_taniji_gapless</string>
		<key>path</key>
		<string>khalifa_taniji</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/mp3quran/khalifah_taniji/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>muhammad_al_luhaidan</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>92</integer>
		<key>name</key>
		<string>qari_luhaidan_gapless</string>
		<key>path</key>
		<string>muhammad_al_luhaidan</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/qurancentral/muhammad_al_luhaidan/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mahmoud_ali_albana</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>35</integer>
		<key>name</key>
		<string>qari_mahmoud_ali_albana_gapless</string>
		<key>path</key>
		<string>mahmoud_ali_albana</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mahmood_ali_albana/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>qari_minshawi_mujawwad</string>
		<key>path</key>
		<string>13</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Minshawy_Mujawwad_192kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>minshawi_mujawwad</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>81</integer>
		<key>name</key>
		<string>qari_minshawi_mujawwad_gapless</string>
		<key>path</key>
		<string>minshawi_mujawwad</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/minshawi_mujawwad/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>minshawi_murattal</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>qari_minshawi_murattal_gapless</string>
		<key>path</key>
		<string>minshawi_murattal</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/muhammad_siddeeq_al-minshaawee/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabicEnglish</string>
		<key>databaseName</key>
		<string>mishari_walk</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>44</integer>
		<key>name</key>
		<string>qari_mishari_walk_gapless</string>
		<key>path</key>
		<string>mishari_walk</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mishaari_w_ibrahim_walk_si/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mohammad_altablawi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>28</integer>
		<key>name</key>
		<string>qari_mohammad_altablawi_gapless</string>
		<key>path</key>
		<string>mohammad_altablawi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mohammad_altablawi/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mokhtasar_asmari</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>75</integer>
		<key>name</key>
		<string>qari_mokhtasar_asmari_gapless</string>
		<key>path</key>
		<string>mokhtasar_asmari</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/ayahapp/mokhtasar_asmari/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>mostafa_ismaeel</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>38</integer>
		<key>name</key>
		<string>qari_mostafa_ismaeel_gapless</string>
		<key>path</key>
		<string>mostafa_ismaeel</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/mostafa_ismaeel/128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>qari_muaiqly</string>
		<key>path</key>
		<string>11</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Maher_AlMuaiqly_64kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>muaiqly_kfgqpc</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>51</integer>
		<key>name</key>
		<string>qari_muaiqly_gapless</string>
		<key>path</key>
		<string>muaiqly_kfgqpc</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/qurancomplex/maher_muaiqly/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>maher_al_muaiqly</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>67</integer>
		<key>name</key>
		<string>qari_muaiqly_haramain_gapless</string>
		<key>path</key>
		<string>maher_al_muaiqly</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/tvquran/maher_al_mu3aiqly/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>muhammad_rashad_shereef</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>78</integer>
		<key>name</key>
		<string>qari_muhammad_rashad_shereef_gapless</string>
		<key>path</key>
		<string>muhammad_rashad_shereef</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/mp3quran/muhammad_rashad_alshereef/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>nabil_rifa3i</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>84</integer>
		<key>name</key>
		<string>qari_nabil_rifa3i_gapless</string>
		<key>path</key>
		<string>nabil_rifa3i</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/nabil_rifa3i/reencode/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>noreen_siddiq</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>85</integer>
		<key>name</key>
		<string>qari_noreen_siddiq_gapless</string>
		<key>path</key>
		<string>noreen_siddiq</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/noreen_siddiq/reencode/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>peshawa_qadir_al-kurdi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>96</integer>
		<key>name</key>
		<string>qari_peshawa_qadir_al_qurdi_gapless</string>
		<key>path</key>
		<string>peshawa_qadir_al-kurdi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/peshawa_qadir_al-kurdi/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>qatami</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>qari_qatami_gapless</string>
		<key>path</key>
		<string>qatami</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/nasser_bin_ali_alqatami/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>raad_al_kurdi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>93</integer>
		<key>name</key>
		<string>qari_raad_al_kurdi_gapless</string>
		<key>path</key>
		<string>raad_al_kurdi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/raad_mohammad_al_kurdi/mp3/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>63</integer>
		<key>name</key>
		<string>qari_saad_al_ghamdi</string>
		<key>path</key>
		<string>18</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Ghamadi_40kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>sa3d_alghamidi</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>qari_saad_al_ghamidi_gapless</string>
		<key>path</key>
		<string>sa3d_alghamidi</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/sa3d_al-ghaamidi/complete/128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>sahl_yaseen</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>29</integer>
		<key>name</key>
		<string>qari_sahl_yaseen_gapless</string>
		<key>path</key>
		<string>sahl_yaseen</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/sahl_yaaseen/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>salah_budair</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>25</integer>
		<key>name</key>
		<string>qari_salah_budair_gapless</string>
		<key>path</key>
		<string>salah_budair</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/salahbudair/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>salah_bukhatir</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>57</integer>
		<key>name</key>
		<string>qari_salah_bukhatir_gapless</string>
		<key>path</key>
		<string>salah_bukhatir</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/salaah_bukhaatir/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>62</integer>
		<key>name</key>
		<string>qari_shatri</string>
		<key>path</key>
		<string>4</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Abu_Bakr_Ash-Shaatree_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>shatri</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>30</integer>
		<key>name</key>
		<string>qari_shatri_gapless</string>
		<key>path</key>
		<string>shatri</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abu_bakr_ash-shaatree/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>65</integer>
		<key>name</key>
		<string>qari_shuraym</string>
		<key>path</key>
		<string>17</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Saood_ash-Shuraym_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>shuraym</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>26</integer>
		<key>name</key>
		<string>qari_shuraym_gapless</string>
		<key>path</key>
		<string>shuraym</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/sa3ood_al-shuraym/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>61</integer>
		<key>name</key>
		<string>qari_suadis</string>
		<key>path</key>
		<string>3</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Abdurrahmaan_As-Sudais_192kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>sudais_murattal</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>qari_sudais_gapless</string>
		<key>path</key>
		<string>sudais</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/abdurrahmaan_as-sudays/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>64</integer>
		<key>name</key>
		<string>qari_tablawy</string>
		<key>path</key>
		<string>14</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Mohammad_al_Tablaway_128kbps/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>tawfeeq_as_sawaigh</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>86</integer>
		<key>name</key>
		<string>qari_tawfeeq_as_sawaigh_gapless</string>
		<key>path</key>
		<string>tawfeeq_as_sawaigh</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/tawfeeq_bin_saeed-as-sawaaigh/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>wadee3_alyamani</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>79</integer>
		<key>name</key>
		<string>qari_wadee3_alyamani_gapless</string>
		<key>path</key>
		<string>wadee3_alyamani</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/wadee_hammadi_al-yamani/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>english</string>
		<key>databaseName</key>
		<string></string>
		<key>hasGaplessAlternative</key>
		<true/>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>qari_walk</string>
		<key>path</key>
		<string>19</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/everyayah/Ibrahim_Walk_192kbps_TEST/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>english</string>
		<key>databaseName</key>
		<string>ibrahim_walk</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>47</integer>
		<key>name</key>
		<string>qari_walk_gapless</string>
		<key>path</key>
		<string>ibrahim_walk</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/ibrahim_walk/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>yasser_dussary</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>27</integer>
		<key>name</key>
		<string>qari_yasser_dussary_gapless</string>
		<key>path</key>
		<string>yasser_dussary</string>
		<key>url</key>
		<string>https://download.quranicaudio.com/quran/yasser_ad-dussary/</string>
	</dict>
	<dict>
		<key>category</key>
		<string>arabic</string>
		<key>databaseName</key>
		<string>yasser_salama_hadr</string>
		<key>hasGaplessAlternative</key>
		<false/>
		<key>id</key>
		<integer>73</integer>
		<key>name</key>
		<string>qari_yasser_salama_hadr_gapless</string>
		<key>path</key>
		<string>yasser_salama_hadr</string>
		<key>url</key>
		<string>https://mirrors.quranicaudio.com/ayahapp/yasser_salama_hadr/</string>
	</dict>
</array>
</plist>
